[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
origin
root
r_frame_rot
r_frame_cover
r_ironframe_scale
r_frame_top
r_footpanel_00
r_footpanel_01
r_footpanel_02
r_footpanel_03
r_footpanel_04
r_footpanel_05
r_gear_rot
l_frame_rot
l_frame_cover
l_ironframe_scale
l_frame_top
l_footpanel_00
l_footpanel_01
l_footpanel_02
l_footpanel_03
l_footpanel_04
l_gear_rot
